.grid-container.small-12.medium-10
  .grid-block.small-12.wrap.bg-ice-cream-small

    .grid-content.small-7
      %div{:style => 'margin-top:20px;margin-bottom:20px;'}
        %h3= @group.name
        %p= @group.description
        - if current_user == @group.user
          %a{:href => edit_group_path(@group)} Edit group
    .grid-content.small-5
      %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
        - @group.memberships.each do |membership|
          .float-left{:style => 'margin-left:5px;'}
            %a{:href => current_user == @group.user ? edit_group_membership_path(@group,membership.member) : vanity_path(membership.member)}
              %img{:src => avatar_url(membership.member,60), :style => 'border-radius:50%;'}
        - if current_user == @group.user
          .float-left.v-align{:style => 'height:60px;margin-left:5px;'}
            .align-center.text-center{:style => 'width:40px;'}
              %a.burnt-toast{:href => new_group_membership_path(@group)}
                %i.fa.fa-plus-circle.fa-lg

  .grid-content.small-12
    - range = []

    - start_date = @abstracts.first.created_at.to_date
    - end_date = @abstracts.last.created_at.to_date

    - (start_date.downto(end_date)).each do |date|
      - range << date

    - range.each do |day|
      %h4.clearfix
        %span.pull-left= day.strftime("%A")
        %span.silver.pull-right= day.strftime("%-d %b")
      - if !([day] & @abstracts.group_by(&:day).keys).empty?
        - @abstracts.group_by(&:day).slice(day).each do |day, abstracts|
          %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/abstracts/abstract', collection: abstracts
      - else
        %p 
          %em.silver No records

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @abstracts
