- if @user == current_user

  - supported_currencies = $redis.smembers("supported_currencies")
  - @currencies_for_select = []
  - Money::Currency.each do |currency|
    - if supported_currencies.include? currency.iso_code
      - @currencies_for_select << currency

  .grid-container.small-12.medium-10

    .grid-content.small-12
      %h3 New business
      = form_for @business do |f|
        %section.block-list
          %header Business type
          %ul
            %li.with-dropdown
              = f.select :business_type, [["Sole Trader", "SoleTrader"], ["Partnership", "Partnership"], ["Limited Partnership", "LimitedPartnership"], ["Limited Liability Partnership", "LimitedLiabilityPartnership"], ["Limited Company", "LimitedCompany"], ["Unincorporated Association", "UnincorporatedAssociation"]], {selected: "LimitedCompany", prompt: true}

        = f.fields_for :owners, @business.owners.build do |ff|
          = ff.hidden_field :user_id, :value => current_user.id
          %section.block-list
            %header Owned by
            %ul
              %li.with-dropdown
                = ff.grouped_collection_select :global_owner, [User.where(:id => current_user.id)], :all, :human_name, :to_global_id, :name, {:selected => params[:parent_id] ? Business.find(params[:parent_id]).to_global_id : current_user.to_global_id}
          %section.block-list
            %header Equity (%)
            %ul
              %li
                = ff.number_field :equity, :step => 'any', :max => 100, :min => 0, :value => 100

        %section.block-list
          %header About your business
          %ul
            %li
              = f.text_field :name, {:placeholder => 'Name'}
            %li
              = f.text_area :description, {:placeholder => 'Description'}

        /= f.hidden_field :country, :value => @user.country
        = f.hidden_field :time_zone, :value => @user.time_zone
        %section.block-list
          %header Country
          %ul
            %li.with-dropdown
              = f.country_select :country, {selected: @user.country}
        - if false
          %section.block-list
            %header Time zone
            %ul
              %li.with-dropdown
                = f.time_zone_select :time_zone, nil, {default: @user.time_zone}
        %section.block-list
          %header Currency
          %ul
            %li.with-dropdown
              = f.collection_select :currency, @currencies_for_select, :iso_code, :description, {selected: @user.currency}

        %button.button.expanded.bg-blueberry Save
