- if @context
  - if @context.class.name == 'Group'
    - edit_timer = edit_group_timer_path(@context,@timer)
    - add_time_sheet = group_timer_time_sheets_path(@context,@timer)

  - else
    - edit_timer = @context.class.name == "Household" ? edit_user_home_timer_path(current_user,@timer) : edit_resource_timer_path(@resource,@timer)
    - add_time_sheet = @context.class.name == "Household" ? user_home_timer_time_sheets_path(current_user,@timer) : resource_timer_time_sheets_path(@resource,@timer)

- if @context
  - case @context.class.name
  - when 'User', 'Business'
    - interval_path_array = [@context, @timer, @interval]
    - interval_url = resource_timer_interval_path(@context, @timer,@interval)
  - when 'Household'
    - interval_path_array = [@context, @timer, @interval]
    - interval_url = user_home_timer_interval_path(@user, @timer,@interval)
  - when 'Group'
    - interval_path_array = [@context, @timer, @interval]
    - interval_url = group_timer_interval_path(@context, @timer,@interval)
- else
  - interval_path_array = [@timer, @interval]
  - interval_url = timer_interval_path(@timer,@interval)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %section.block-list
      %header Time sheets
      %ul
        %li.clearfix{:style => 'padding:10px;'}
          - @timer.time_sheets.each do |time_sheet|
            - if time_sheet.owner.class.name == "Group"
              - canonical_time_sheet = group_time_sheet_path(time_sheet.owner,time_sheet)
            - else
              - canonical_time_sheet = time_sheet.owner.class.name == "Household" ? user_home_time_sheet_path(current_user,time_sheet) : resource_time_sheet_path(time_sheet.owner,time_sheet)
            .float-left{:style => ''}
              %a.burnt-toast{:href => canonical_time_sheet}
                %strong= time_sheet.name
              - unless time_sheet == @timer.time_sheets.last
                %span{:style => 'padding:0 10px 0 7px;'}
                  |
          .float-left.v-align{:style => ''}
            .align-center.text-center{:style => 'width:40px;'}
              %a.burnt-toast{:href => add_time_sheet}
                %i.fa.fa-plus-circle.fa-lg


  .grid-content.small-12
    %h3
      = @timer.name
      %a.olive{:href => edit_timer}
        %i.fa.fa-fw.fa-pencil
    %h2.text-center
      = timer(@interval.started_at)

      - if @timer.assigned?(current_user)
        %div{:style => 'display:inline-block;'}
          = form_for interval_path_array, :url => interval_url do |f|
            = f.hidden_field :user_id, :value => current_user.id
            %button.button.expanded.bg-strawberry-jam Stop

    %p= @timer.description

