- case abstract.context.class.name
- when 'User', 'Business'
  - if abstract.project
    - case abstract.item.class.name
    - when 'Project'
      - canonical_link = resource_project_path(abstract.context,abstract.item)
    - when 'Messages::Message'
      - canonical_link = resource_project_message_path(abstract.context,abstract.project,abstract.item)
    - when 'Calendar::Event'
      - canonical_link = resource_project_event_path(abstract.context,abstract.project,abstract.item)
    - when 'TimeTracking::Timer'
      - canonical_link = resource_project_timer_path(abstract.context,abstract.project,abstract.item)
    - when 'TimeTracking::Interval'
      - canonical_link = resource_project_timer_path(abstract.context,abstract.project,abstract.item.timer)
    - when 'Finances::Wallet'
      - canonical_link = resource_project_finances_path(abstract.context,abstract.project)
    - when 'Finances::Ledger'
      - if abstract.item.starting_value > 0
        - canonical_link = resource_project_receivable_path(abstract.context,abstract.project,abstract.item)
      - else
        - canonical_link = resource_project_debt_path(abstract.context,abstract.project,abstract.item)
    - when 'Finances::Payment'
      - canonical_link = resource_project_finances_path(abstract.context,abstract.project)
    - when 'ItemWallet'
      - canonical_link = resource_project_finances_path(abstract.context,abstract.project)
    - when 'Membership'
      - canonical_link = resource_project_path(abstract.context,abstract.project)
  - else
    - case abstract.item.class.name
    - when 'Business'
      - canonical_link = vanity_path(abstract.context)
    - when 'Project'
      - canonical_link = resource_project_path(abstract.context,abstract.item)
    - when 'Contacts::AddressBook'
      - canonical_link = resource_address_book_path(abstract.context,abstract.item)
    - when 'Contacts::Contact'
      - canonical_link = resource_contact_path(abstract.context,abstract.item)
    - when 'Messages::Message'
      - canonical_link = resource_message_path(abstract.context,abstract.item)
    - when 'Calendar::Calendar'
      - canonical_link = resource_calendar_path(abstract.context,abstract.item)
    - when 'Calendar::Event'
      - canonical_link = resource_event_path(abstract.context,abstract.item)
    - when 'TimeTracking::TimeSheet'
      - canonical_link = resource_time_sheet_path(abstract.context,abstract.item)
    - when 'TimeTracking::Timer'
      - canonical_link = resource_timer_path(abstract.context,abstract.item)
    - when 'TimeTracking::Interval'
      - canonical_link = resource_timer_path(abstract.context,abstract.item.timer)
    - when 'Inventory::Container'
      - canonical_link = resource_container_path(abstract.context,abstract.item)
    - when 'Inventory::Item'
      - canonical_link = resource_item_path(abstract.context,abstract.item)
    - when 'Finances::Wallet'
      - canonical_link = resource_wallet_path(abstract.context,abstract.item)
    - when 'Finances::Ledger'
      - if abstract.item.starting_value > 0
        - canonical_link = resource_receivable_path(abstract.context,abstract.item)
      - else
        - canonical_link = resource_debt_path(abstract.context,abstract.item)
    - when 'Finances::Payment'
      - canonical_link = resource_finances_path(abstract.context)
    - when 'Ownership'
      - canonical_link = vanity_path(abstract.item.item)
    - when 'Membership'
      - canonical_link = vanity_path(abstract.item.collective)
- when 'Group'
  - if abstract.project
    - case abstract.item.class.name
    - when 'Project'
      - canonical_link = group_project_path(abstract.context,abstract.item)
    - when 'Messages::Message'
      - canonical_link = group_project_message_path(abstract.context,abstract.project,abstract.item)
    - when 'Calendar::Event'
      - canonical_link = group_project_event_path(abstract.context,abstract.project,abstract.item)
    - when 'TimeTracking::Timer'
      - canonical_link = group_project_timer_path(abstract.context,abstract.project,abstract.item)
    - when 'TimeTracking::Interval'
      - canonical_link = group_project_timer_path(abstract.context,abstract.project,abstract.item.timer)
    - when 'Finances::Wallet'
      - canonical_link = group_project_finances_path(abstract.context,abstract.project)
    - when 'Finances::Ledger'
      - if abstract.item.starting_value > 0
        - canonical_link = group_project_receivable_path(abstract.context,abstract.project,abstract.item)
      - else
        - canonical_link = group_project_debt_path(abstract.context,abstract.project,abstract.item)
    - when 'Finances::Payment'
      - canonical_link = group_project_finances_path(abstract.context,abstract.project)
    - when 'ItemWallet'
      - canonical_link = group_project_finances_path(abstract.context,abstract.project)
    - when 'Membership'
      - canonical_link = group_project_path(abstract.context,abstract.project)
  - else
    - case abstract.item.class.name
    - when 'Group'
      - canonical_link = group_path(abstract.context)
    - when 'Project'
      - canonical_link = group_project_path(abstract.context,abstract.item)
    - when 'Contacts::AddressBook'
      - canonical_link = group_address_book_path(abstract.context,abstract.item)
    - when 'Contacts::Contact'
      - canonical_link = group_contact_path(abstract.context,abstract.item)
    - when 'Messages::Message'
      - canonical_link = group_message_path(abstract.context,abstract.item)
    - when 'Calendar::Calendar'
      - canonical_link = group_calendar_path(abstract.context,abstract.item)
    - when 'Calendar::Event'
      - canonical_link = group_event_path(abstract.context,abstract.item)
    - when 'TimeTracking::TimeSheet'
      - canonical_link = group_time_sheet_path(abstract.context,abstract.item)
    - when 'TimeTracking::Timer'
      - canonical_link = group_timer_path(abstract.context,abstract.item)
    - when 'TimeTracking::Interval'
      - canonical_link = group_timer_path(abstract.context,abstract.item.timer)
    - when 'Inventory::Container'
      - canonical_link = group_container_path(abstract.context,abstract.item)
    - when 'Inventory::Item'
      - canonical_link = group_item_path(abstract.context,abstract.item)
    - when 'Finances::Wallet'
      - canonical_link = group_wallet_path(abstract.context,abstract.item)
    - when 'Finances::Ledger'
      - if abstract.item.starting_value > 0
        - canonical_link = group_receivable_path(abstract.context,abstract.item)
      - else
        - canonical_link = group_debt_path(abstract.context,abstract.item)
    - when 'Finances::Payment'
      - canonical_link = group_finances_path(abstract.context)
    - when 'Membership'
      - canonical_link = group_path(abstract.item.collective)
- when 'Household'
  - if abstract.project
    - case abstract.item.class.name
    - when 'Project'
      - canonical_link = user_home_project_path(current_user,abstract.item)
    - when 'Messages::Message'
      - canonical_link = user_home_project_message_path(current_user,abstract.project,abstract.item)
    - when 'Calendar::Event'
      - canonical_link = user_home_project_event_path(current_user,abstract.project,abstract.item)
    - when 'TimeTracking::Timer'
      - canonical_link = user_home_project_timer_path(current_user,abstract.project,abstract.item)
    - when 'TimeTracking::Interval'
      - canonical_link = user_home_project_timer_path(current_user,abstract.project,abstract.item.timer)
    - when 'Finances::Wallet'
      - canonical_link = user_home_project_finances_path(current_user,abstract.project)
    - when 'Finances::Ledger'
      - if abstract.item.starting_value > 0
        - canonical_link = user_home_project_receivable_path(current_user,abstract.project,abstract.item)
      - else
        - canonical_link = user_home_project_debt_path(current_user,abstract.project,abstract.item)
    - when 'Finances::Payment'
      - canonical_link = user_home_project_finances_path(current_user,abstract.project)
    - when 'ItemWallet'
      - canonical_link = user_home_project_finances_path(current_user,abstract.project)
    - when 'Membership'
      - canonical_link = user_home_project_path(current_user,abstract.project)
  - else
    - case abstract.item.class.name
    - when 'Household'
      - canonical_link = user_home_path(current_user)
    - when 'Project'
      - canonical_link = user_home_project_path(current_user,abstract.item)
    - when 'Contacts::AddressBook'
      - canonical_link = user_home_address_book_path(current_user,abstract.item)
    - when 'Contacts::Contact'
      - canonical_link = user_home_contact_path(current_user,abstract.item)
    - when 'Messages::Message'
      - canonical_link = user_home_message_path(current_user,abstract.item)
    - when 'Calendar::Calendar'
      - canonical_link = user_home_calendar_path(current_user,abstract.item)
    - when 'Calendar::Event'
      - canonical_link = user_home_event_path(current_user,abstract.item)
    - when 'TimeTracking::TimeSheet'
      - canonical_link = user_home_time_sheet_path(current_user,abstract.item)
    - when 'TimeTracking::Timer'
      - canonical_link = user_home_timer_path(current_user,abstract.item)
    - when 'TimeTracking::Interval'
      - canonical_link = user_home_timer_path(current_user,abstract.item.timer)
    - when 'Inventory::Container'
      - canonical_link = user_home_container_path(current_user,abstract.item)
    - when 'Inventory::Item'
      - canonical_link = user_home_item_path(current_user,abstract.item)
    - when 'Finances::Wallet'
      - canonical_link = user_home_wallet_path(current_user,abstract.item)
    - when 'Finances::Ledger'
      - if abstract.item.starting_value > 0
        - canonical_link = user_home_receivable_path(current_user,abstract.item)
      - else
        - canonical_link = user_home_debt_path(current_user,abstract.item)
    - when 'Finances::Payment'
      - canonical_link = user_home_finances_path(current_user)
    - when 'Membership'
      - canonical_link = user_home_path(current_user)

%li
  %a.burnt-toast{:href => canonical_link}
    .card{}
      .card-section
        .clearfix
          %div.float-left.text-overflow.text-center{:style => 'width:10%;min-height:1px;padding:0;'}
            - case abstract.context.class.name
            - when 'User'
              %i.fa.fa-2x.fa-user.silver
            - when 'Business'
              %i.fa.fa-2x.fa-briefcase.silver
            - when 'Household'
              %i.fa.fa-2x.fa-home.silver
            - when 'Group'
              %i.fa.fa-2x.fa-users.silver
          %div.float-left.text-overflow{:style => 'width:5%;min-height:1px;padding:0;'}
            - if abstract.user
              %img{:src => avatar_url(abstract.user,50), :style => 'border-radius:50%;'}
          %div.float-left.text-overflow{:style => 'width:65%;padding:1px 1px 1px 10px;'}
            %strong= abstract.user ? abstract.user.name : 'Deleted user'
            - case abstract.item.class.name
            - when 'Household'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Group'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Business'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Project'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Messages::Message'
              - case abstract.action
              - when 'create'
                = 'wrote a'
                = /[a-z]+\z/i.match(abstract.item_type)
            - when 'Contacts::AddressBook'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Contacts::Contact'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Calendar::Calendar'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Calendar::Event'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
              - when 'attend'
                - if abstract.sub_item && abstract.sub_item.member == abstract.user
                  is attending
                - else
                  marked #{abstract.sub_item.member.name} as attending
                %em #{abstract.item.name}
            - when 'TimeTracking::TimeSheet'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'TimeTracking::Timer'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
              - when 'assign'
                - if abstract.sub_item && abstract.sub_item.member == abstract.user
                  was assigned to
                - else
                  assigned #{abstract.sub_item ? abstract.sub_item.member.name : ''} to
                %em #{abstract.item.name}
            - when 'TimeTracking::Interval'
              - case abstract.action
              - when 'create'
                started #{abstract.item.timer.name}
              - when 'update'
                stopped #{abstract.item.timer.name}
            - when 'Inventory::Container'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Inventory::Item'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                %em #{abstract.item.name}
            - when 'Finances::Wallet'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                = abstract.item
              - when 'receive'
                received #{humanized_money_with_symbol "#{abstract.currency} #{abstract.value}".to_money} into
                %em #{abstract.item.name}
              - when 'expend'
                spent #{humanized_money_with_symbol "#{abstract.currency} #{abstract.value.abs}".to_money} out of
                %em #{abstract.item.name}
            - when 'Finances::Ledger'
              - case abstract.action
              - when 'create'
                = abstract.action + 'd a new'
                = /[a-z]+\z/i.match(abstract.item_type)
              - when 'update'
                = abstract.action + 'd'
                = abstract.item
              - when 'pay_ledger'
                - if abstract.value > 0
                  received #{humanized_money_with_symbol "#{abstract.currency} #{abstract.value}".to_money} on
                - else
                  paid #{humanized_money_with_symbol "#{abstract.currency} #{abstract.value.abs}".to_money} on
                %em #{abstract.item.name}
            - when 'ItemWallet'
              - case abstract.action
              - when 'create'
                attached a Wallet
              - when 'update'
                = abstract.action + 'd'
                = abstract.item
            - when 'Ownership'
              - case abstract.action
              - when 'create'
                assigned #{number_with_precision(abstract.item.equity, strip_insignificant_zeros: true)}% equity of #{abstract.item.item.name} to #{abstract.item.owner.name}
              - when 'update'
                adjusted #{abstract.item.owner.name.possessive} equity in #{abstract.item.item.name} to #{number_with_precision(abstract.item.equity, strip_insignificant_zeros: true)}%
            - when 'Membership'
              - case abstract.action
              - when 'create'
                added #{abstract.item.member.name} to #{/[a-z]+\z/i.match(abstract.item.collective.class.name)}
            - if abstract.project && abstract.item.class.name != 'Project'
              = abstract.item.class.name == 'ItemWallet' ? "to " : "in "
              %strong= abstract.project.name
          %div.float-left.text-overflow.text-right{:style => 'width:20%;padding:1px;'}
            %small= time_ago_in_words(abstract.created_at) + " ago"
        .clearfix
          %div.float-left.text-overflow.text-center{:style => 'width:10%;min-height:1px;padding:0;'}
            %strong.silver= abstract.context.name
          %div.float-left.text-overflow{:style => 'width:5%;min-height:1px;padding:0;'}
          %div.float-left.text-overflow{:style => 'width:65%;padding:1px 1px 1px 10px;'}
            - if !abstract.item_id
              %span.silver #{/[a-z]+\z/i.match(abstract.item_type)} deleted
            - else
              - case abstract.item.class.name
              - when 'Household'
                %h3.text-center
                  %i.fa.fa-home
                  = abstract.item.name
              - when 'Group'
                %h3.text-center
                  %i.fa.fa-users
                  = abstract.item.name
              - when 'Business'
                %h3.text-center
                  %i.fa.fa-briefcase
                  = abstract.item.name
              - when 'Project'
                %h3.text-center
                  %i.fa.fa-folder-open
                  = abstract.item.name
              - when 'Messages::Message'
                = abstract.item.content
              - when 'Contacts::AddressBook'
                %h3.text-center
                  %i.fa.fa-book
                  = abstract.item.name
              - when 'Contacts::Contact'
                %h5.text-center
                  %strong= abstract.item.name
              - when 'Calendar::Calendar'
                %h3.text-center
                  %i.fa.fa-calendar
                  = abstract.item.name
              - when 'Calendar::Event'
                %h4.text-center= abstract.item.name
                %h5.text-center= abstract.item.starting_at.strftime("%-d %b") # + " - " + abstract.item.ending_at.strftime("%-d %b")
              - when 'TimeTracking::TimeSheet'
                %h3.text-center
                  %i.fa.fa-clock-o
                  = abstract.item.name
              - when 'TimeTracking::Timer'
                %h4.text-center
                  = abstract.item.name
                %h3.text-center
                  - if !abstract.item.active?
                    - seconds = abstract.item.elapsed_time.to_i % 60
                    - minutes = (abstract.item.elapsed_time.to_i / 60) % 60
                    - hours = abstract.item.elapsed_time.to_i / (60 * 60)
                    = format("%02d:%02d:%02d", hours, minutes, seconds)
                  - else
                    = timer(abstract.item.intervals.where(:stopped_at => nil).first.started_at - abstract.item.elapsed_time.seconds)
              - when 'TimeTracking::Interval'
                %h5.text-center
                  - if abstract.item.stopped_at
                    - seconds = abstract.item.duration.to_i % 60
                    - minutes = (abstract.item.duration.to_i / 60) % 60
                    - hours = abstract.item.duration.to_i / (60 * 60)
                    = format("%02d:%02d:%02d", hours, minutes, seconds)
                  - else
                    = timer(abstract.item.started_at)
                %h3.text-center
                  - if !abstract.item.timer.active?
                    - seconds = abstract.item.timer.elapsed_time.to_i % 60
                    - minutes = (abstract.item.timer.elapsed_time.to_i / 60) % 60
                    - hours = abstract.item.timer.elapsed_time.to_i / (60 * 60)
                    = format("%02d:%02d:%02d", hours, minutes, seconds)
                  - else
                    = timer(abstract.item.timer.intervals.where(:stopped_at => nil).first.started_at - abstract.item.timer.elapsed_time.seconds)
              - when 'Inventory::Container'
                %h3.text-center
                  %i.fa.fa-cubes
                  = abstract.item.name
              - when 'Inventory::Item'
                %h5.text-center
                  %i.fa.fa-cube
                  %strong= abstract.item.name
              - when 'Finances::Wallet'
                - if abstract.sub_item
                  %h4.text-center= abstract.item.name
                  %h3.text-center= humanized_money_with_symbol "#{abstract.sub_item.currency} #{abstract.sub_item.wallet_balance}".to_money
                - else
                  %h4.text-center= abstract.item.name
                  %h3.text-center= humanized_money_with_symbol "#{abstract.item.currency} #{abstract.item.starting_balance}".to_money
              - when 'Finances::Ledger'
                - if abstract.sub_item
                  %h4.text-center= abstract.item.name
                  %h3.text-center= humanized_money_with_symbol "#{abstract.sub_item.currency} #{abstract.sub_item.ledger_balance}".to_money
                - else
                  %h4.text-center= abstract.item.name
                  %h3.text-center= humanized_money_with_symbol "#{abstract.item.currency} #{abstract.item.starting_value}".to_money
              - when 'Finances::Payment'
                / TODO
              - when 'ItemWallet'
                %h4.text-center
                  = abstract.item.wallet.name
                %h3.text-center= humanized_money_with_symbol "#{abstract.item.wallet.currency} #{abstract.item.wallet.balance}".to_money
              - when 'Ownership'
                / TODO
              - when 'Membership'
                / TODO
          %div.float-left.text-overflow.text-right{:style => 'width:20%;padding:1px;'}
