- case @resource.class.name
- when 'Household'
  - path_array = [@resource, @membership]
  - url = user_home_memberships_path(@user)
- when 'Business'
  - path_array = [@resource, @membership]
  - url = business_memberships_path(@business)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 New member
    = form_for path_array, url: url do |f|

      - if @options_for_member_select.any?
        %section.block-list
          %header Choose from collaborators
          %ul
            %li.with-dropdown
              = f.grouped_collection_select :global_member, [@options_for_member_select], :all, :human_name, :to_global_id, :name, {:prompt => true}
        %section.block-list
          %header Or send an invite
          = f.hidden_field :membership, :value => @membership
          %ul
            %li
              = text_field_tag :invite, nil, {:placeholder => 'Invite by email'}
      - else
        %section.block-list
          %header Member
          = f.hidden_field :membership, :value => @membership
          %ul
            %li
              = text_field_tag :invite, nil, {:placeholder => 'Invite by email'}

      %button.button.expanded.bg-blueberry Save
