%tr{:style => 'border-bottom:1px solid gray;'}
  %td{:style => 'padding:15px 10px;'}= payment.description
  %td{:style => 'padding:15px 10px;'}= payment.value > 0 ? (humanized_money_with_symbol "#{@wallet.currency} #{payment.value}".to_money) : ''
  %td{:style => 'padding:15px 10px;'}= payment.value < 0 ? (humanized_money_with_symbol "#{@wallet.currency} #{payment.value}".to_money) : ''
  %td{:style => 'padding:15px 10px;'}= time_ago_in_words(payment.created_at) + " ago"
  %td{:style => 'padding:15px 10px;'}= humanized_money_with_symbol "#{@wallet.currency} #{payment.wallet_balance}".to_money
