- case @resource.class.name
- when 'Business'
  - path_array = [@resource, @ownership]
  - url = business_ownerships_path(@business)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 New owner
    = form_for path_array, url: url do |f|

      - if @options_for_owner_select.any?
        %section.block-list
          %header Choose from collaborators
          %ul
            %li.with-dropdown
              = f.grouped_collection_select :global_owner, [@options_for_owner_select], :all, :human_name, :to_global_id, :name, {:prompt => true}
        %section.block-list
          %header Or send an invite
          = f.hidden_field :ownership, :value => @ownership
          %ul
            %li
              = text_field_tag :invite, nil, {:placeholder => 'Invite by email'}
      - else
        %section.block-list
          %header Owner
          = f.hidden_field :ownership, :value => @ownership
          %ul
            %li
              = text_field_tag :invite, nil, {:placeholder => 'Invite by email'}



      %section.block-list
        %header Equity (%)
        %ul
          %li
            = f.number_field :equity, :step => 'any', :max => 100, :min => 0, :value => 100

      %button.button.expanded.bg-blueberry Save
