- if @resource
  - case @resource.class.name
  - when 'User', 'Business'
    - path_array = [@resource, @event]
    - url = resource_events_path(@resource)
  - when 'Household'
    - path_array = [@resource, @event]
    - url = user_home_events_path(@user)
  - when 'Group'
    - path_array = [@resource, @event]
    - url = group_events_path(@resource)
- else
  - path_array = @event
  - url = events_path

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 New event

    = form_for path_array, :url => url do |f|

      = f.fields_for :owners, @event.owners.build do |ff|
        = ff.hidden_field :user_id, :value => @resource.user.id
        %section.block-list
          %header Calendar
          %ul
            %li.with-dropdown
              = ff.grouped_collection_select :global_owner, [@resource.calendars], :all, :human_name, :to_global_id, :name, {:include_blank => true, :selected => params[:calendar_id] ? @calendar.to_global_id : ''}

      %section.block-list
        %header Event
        %ul
          %li
            = f.text_field :name, {:placeholder => 'Name'}
          %li
            = f.text_area :description, {:placeholder => 'Description'}

      %button.button.expanded.bg-blueberry Save
