
- if @context
  - if @context.class.name == 'Group'
    - new_time_sheet = new_group_time_sheet_path(@context)
    - new_timer = new_group_timer_path(@context)
  - else
    - new_time_sheet = @context.class.name == "Household" ? new_user_home_time_sheet_path(current_user) : new_resource_time_sheet_path(@resource)
    - new_timer = @context.class.name == "Household" ? new_user_home_timer_path(current_user) : new_resource_timer_path(@resource)

.grid-container.small-12.medium-10

  .grid-content.small-12

    - if @context
      %h3 #{@context.name.possessive} time sheets
      %a.button.bg-blueberry{:href => new_time_sheet} New time sheet
    - else
      %h3 Your time sheets

  .grid-block.wrap.small-12

    - @time_sheets.each do |time_sheet|
      .grid-content.small-12.medium-6.large-4
        - case time_sheet.owner.class.name
        - when "User", "Business"
          - canonical_link = resource_time_sheet_path(time_sheet.owner,time_sheet)
        - when "Household"
          - canonical_link = user_home_time_sheet_path(current_user,time_sheet)
        - when "Group"
          - canonical_link = group_time_sheet_path(time_sheet.owner,time_sheet)
        %a{:href => canonical_link}
          .card{:style => 'height:250px;'}
            .card-section.bg-orange-juice.burnt-toast
              %h4.ice-cream.clearfix{:style => 'margin-top:0;margin-bottom:0;'}
                %span.float-left{:style => 'width:80%;overflow:hidden;'}= truncate(time_sheet.name, length: 12)
                %span.float-right
                  %i.fa.fa-clock-o
            .card-divider.bg-ice-cream.burnt-toast
              = truncate(time_sheet.owner.name, length: 15)
            .card-section
              - if !time_sheet.description.blank?
                = time_sheet.description
              - else
                %em No description.
  .grid-content.small-12
    %h5.text-right
      %a.panther{:href => request.path + "/time-sheets"} View all



  .grid-content.small-12

    - if @context
      %h3 #{@context.name.possessive} timers
      %a.button.bg-blueberry{:href => new_timer} New timer
    - else
      %h3 Your timers

  .grid-content.small-12
    - range = ['Active']

    - first_not_nil = @timers.find { |x| !x["last_active_at"].blank? }
    - start_date = first_not_nil ? first_not_nil.last_active_at.to_date : Date.current
    - end_date = @timers.last && @timers.last.last_active_at ? @timers.last.last_active_at.to_date : Date.current

    - (start_date.downto(end_date)).each do |date|
      - range << date

    - range.each do |active_or_date|
      %h4.clearfix
        - if active_or_date == 'Active'
          %span.pull-left= active_or_date
        - else
          %span.pull-left= active_or_date.strftime("%A")
          %span.silver.pull-right= active_or_date.strftime("%-d %b")
      - if !([active_or_date] & @timers.group_by(&:active_or_day).keys).empty?
        - @timers.group_by(&:active_or_day).slice(active_or_date).each do |active_or_day, timers|
          %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/time/timers/timer', collection: timers
      - else
        %p 
          %em.silver No records

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @timers

