.grid-content.small-12.medium-6.large-4
  - case member.class.name
  - when "User", "Business"
    - canonical_link = resource_finances_path(member)
  %a{:href => canonical_link}
    .card{:style => 'height:250px;'}
      .card-section.bg-panther
        %h4.ice-cream.clearfix{:style => 'margin-top:0;margin-bottom:0;'}
          %span.float-left{:style => 'width:80%;overflow:hidden;'}= truncate(member.name, length: 12)
          %span.float-right
            %i.fa.fa-user
      .card-divider.bg-ice-cream.burnt-toast
        %strong Net worth:
        = humanized_money_with_symbol "#{member.currency} #{member.net_worth}".to_money
      .card-section
        - if member.present?
          - currency_symbol = Money::Currency.new(member.currency).symbol
          - currency_format = "#{currency_symbol}#,##0.00;(#{currency_symbol}#,##0.00)" # for BTC for instance - 8 decimal places
          - if member.balance_sheets.any?
            - if member.balance_sheets.first.created_at > 1.hour.ago
              .ct-chart.resource-chart-mini.ct-octave{'data-resourceId' => member.id.to_s, 'data-resourceClass' => member.class.name, 'data-interval' => "minutely", :id => "resource" + member.class.name + member.id.to_s}
            - elsif member.balance_sheets.first.created_at > 1.week.ago
              .ct-chart.resource-chart-mini.ct-octave{'data-resourceId' => member.id.to_s, 'data-resourceClass' => member.class.name, 'data-interval' => "hourly", :id => "resource" + member.class.name + member.id.to_s}
            - elsif member.balance_sheets.first.created_at > 1.month.ago
              .ct-chart.resource-chart-mini.ct-octave{'data-resourceId' => member.id.to_s, 'data-resourceClass' => member.class.name, 'data-interval' => "daily", :id => "resource" + member.class.name + member.id.to_s}
            - elsif member.balance_sheets.first.created_at > 1.year.ago
              .ct-chart.resource-chart-mini.ct-octave{'data-resourceId' => member.id.to_s, 'data-resourceClass' => member.class.name, 'data-interval' => "weekly", :id => "resource" + member.class.name + member.id.to_s}
            - else
              .ct-chart.resource-chart-mini.ct-octave{'data-resourceId' => member.id.to_s, 'data-resourceClass' => member.class.name, 'data-interval' => "monthly", :id => "resource" + member.class.name + member.id.to_s}
          - else
            .text-center{:style => "padding-top:2.2em;height:5.6em;"}
              %em.silver No records.