- if @context
  - if @context.class.name == 'Group'
    - new_wallet = new_group_wallet_path(@context)
    - new_ledger = new_group_ledger_path(@context)
  - else
    - new_wallet = @context.class.name == "Household" ? new_user_home_wallet_path(current_user) : new_resource_wallet_path(@resource)
    - new_ledger = @context.class.name == "Household" ? new_user_home_ledger_path(current_user) : new_resource_ledger_path(@resource)


.grid-container.small-12.medium-10

  .grid-content.small-12

    - if @context
      %h3 #{@context.name.possessive} finances
      %a.button.bg-blueberry{:href => new_wallet} New wallet
      %a.button.bg-blueberry{:href => new_ledger} New ledger
    - else
      %h3 Your finances

  .grid-content.small-12.medium-10.medium-offset-1
    - if @resource.present?
      - currency_symbol = Money::Currency.new(@resource.currency).symbol
      - currency_format = "#{currency_symbol}#,##0.00;(#{currency_symbol}#,##0.00)" # for BTC for instance - 8 decimal places
      - if @resource.balance_sheets.any?
        - if @resource.balance_sheets.first.created_at > 1.hour.ago
          .ct-chart.resource-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-interval' => "minutely", :id => "resource" + @resource.class.name + @resource.id.to_s}
        - elsif @resource.balance_sheets.first.created_at > 1.week.ago
          .ct-chart.resource-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-interval' => "hourly", :id => "resource" + @resource.class.name + @resource.id.to_s}
        - elsif @resource.balance_sheets.first.created_at > 1.month.ago
          .ct-chart.resource-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-interval' => "daily", :id => "resource" + @resource.class.name + @resource.id.to_s}
        - elsif @resource.balance_sheets.first.created_at > 1.year.ago
          .ct-chart.resource-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-interval' => "weekly", :id => "resource" + @resource.class.name + @resource.id.to_s}
        - else
          .ct-chart.resource-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-interval' => "monthly", :id => "resource" + @resource.class.name + @resource.id.to_s}
      - else
        .text-center{:style => "padding-top:2.2em;height:5.6em;"}
          %em.silver No records.

  .grid-block.wrap.small-12
    - if @resource.present?
      .grid-content.small-3.text-center Net Worth
      .grid-content.small-3.text-center Total Assets
      .grid-content.small-3.text-center Total Liabilities
      .grid-content.small-3.text-center Cash
      .grid-content.small-3.text-center
        %h4
          %strong= humanized_money_with_symbol "#{@resource.currency} #{@resource.net_worth}".to_money, :no_cents_if_whole => false
      .grid-content.small-3.text-center
        %h4
          %strong= humanized_money_with_symbol "#{@resource.currency} #{@resource.total_assets}".to_money
      .grid-content.small-3.text-center
        %h4
          %strong= humanized_money_with_symbol "#{@resource.currency} #{@resource.total_liabilities}".to_money
      .grid-content.small-3.text-center
        %h4
          %strong= humanized_money_with_symbol "#{@resource.currency} #{@resource.cash}".to_money, :no_cents_if_whole => false

  .grid-content.small-12
    %h4 Wallets
  .grid-block.wrap.small-12
    - @wallets.each do |wallet|
      .grid-content.small-12.medium-6.large-4
        - case wallet.owners.first.owner.class.name
        - when "User", "Business"
          - canonical_link = resource_wallet_path(wallet.owners.first.owner,wallet)
        - when "Household"
          - canonical_link = user_home_wallet_path(current_user,wallet)
        - when "Group"
          - canonical_link = group_wallet_path(wallet.owners.first.owner,wallet)
        %a{:href => canonical_link}
          .card{:style => 'height:250px;'}
            .card-section.bg-olive
              %h4.ice-cream.clearfix{:style => 'margin-top:0;margin-bottom:0;'}
                %span.float-left{:style => 'width:80%;overflow:hidden;'}= truncate(wallet.name, length: 12)
                %span.float-right
                  %i.fa.fa-money
            .card-divider.bg-ice-cream.burnt-toast
              = truncate(wallet.owners.first.owner.name, length: 15)
            .card-section
              - if !wallet.description.blank?
                = truncate(wallet.description, length: 75)
              - else
                %em No description.
              %h2.text-center= humanized_money_with_symbol "#{wallet.currency} #{wallet.balance}".to_money

  .grid-content.small-12
    %h4 Ledgers
  .grid-block.wrap.small-12
    - @ledgers.each do |ledger|
      .grid-content.small-12.medium-6.large-4
        - case ledger.owners.first.owner.class.name
        - when "User", "Business"
          - canonical_link = resource_ledger_path(ledger.owners.first.owner,ledger)
        - when "Household"
          - canonical_link = user_home_ledger_path(current_user,ledger)
        - when "Group"
          - canonical_link = group_ledger_path(ledger.owners.first.owner,ledger)
        %a{:href => canonical_link}
          .card{:style => 'height:250px;'}
            .card-section.bg-green
              %h4.ice-cream.clearfix{:style => 'margin-top:0;margin-bottom:0;'}
                %span.float-left{:style => 'width:80%;overflow:hidden;'}= truncate(ledger.name, length: 12)
                %span.float-right
                  %i.fa.fa-bar-chart
            .card-divider.bg-ice-cream.burnt-toast
              = truncate(ledger.owners.first.owner.name, length: 15)
            .card-section
              - if !ledger.description.blank?
                = truncate(ledger.description, length: 75)
              - else
                %em No description.
              %h2.text-center= humanized_money_with_symbol "#{ledger.currency} #{ledger.value}".to_money
