- if @context
  - if @context.class.name == 'Group'
    - new_container = new_group_container_path(@context)
    - new_item = new_group_item_path(@context)
  - else
    - new_container = @context.class.name == "Household" ? new_user_home_container_path(current_user) : new_resource_container_path(@resource)
    - new_item = @context.class.name == "Household" ? new_user_home_item_path(current_user) : new_resource_item_path(@resource)

.grid-container.small-12.medium-10

  .grid-content.small-12

    - if @context
      %h3 #{@context.name.possessive} containers
      %a.button.bg-blueberry{:href => new_container} New container
    - else
      %h3 Your containers

  .grid-block.wrap.small-12

    - @containers.each do |container|
      .grid-content.small-12.medium-6.large-4
        - case container.owner.class.name
        - when "User", "Business"
          - canonical_link = resource_container_path(container.owner,container)
        - when "Household"
          - canonical_link = user_home_container_path(current_user,container)
        - when "Group"
          - canonical_link = group_container_path(container.owner,container)
        %a{:href => canonical_link}
          .card{:style => 'height:250px;'}
            .card-section.bg-purple
              %h4.ice-cream.clearfix{:style => 'margin-top:0;margin-bottom:0;'}
                %span.float-left{:style => 'width:80%;overflow:hidden;'}= truncate(container.name, length: 12)
                %span.float-right
                  %i.fa.fa-cubes
            .card-divider.bg-ice-cream.burnt-toast
              = truncate(container.owner.name, length: 15)
            .card-section
              - if !container.description.blank?
                = container.description
              - else
                %em No description.



  .grid-content.small-12

    - if @context
      %h3 #{@context.name.possessive} items
      %a.button.bg-blueberry{:href => new_item} New item
    - else
      %h3 Your items

  .grid-content.small-12

    - @items.group_by(&:first_letter).each do |first_letter, items|
      %h4.clearfix
        %span.silver.pull-left= first_letter
      - if items.any?
        %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/inventory/items/item', collection: items
      - else
        %p 
          %em.silver No records
