- if @resource
  - case @resource.class.name
  - when 'User', 'Business'
    - path_array = [@resource, @item]
    - url = resource_items_create_index_path(@resource)
  - when 'Household'
    - path_array = [@resource, @item]
    - url = user_home_items_create_index_path(@user)
  - when 'Group'
    - path_array = [@resource, @item]
    - url = group_items_create_index_path(@resource)
- else
  - path_array = @item
  - url = items_create_index_path

- supported_currencies = $redis.smembers("supported_currencies")
- @currencies_for_select = []
- Money::Currency.each do |currency|
  - if supported_currencies.include? currency.iso_code
    - @currencies_for_select << currency

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 New item

    = form_for path_array, :url => url do |f|

      = f.fields_for :owners, @item.owners.build do |ff|
        = ff.hidden_field :user_id, :value => @resource.class.name == "User" ? @resource.id : @resource.user.id
        %section.block-list
          %header Container
          %ul
            %li.with-dropdown
              = ff.grouped_collection_select :global_owner, [@resource.containers], :all, :human_name, :to_global_id, :name, {:include_blank => true, :selected => params[:container_id] ? @container.to_global_id : ''}

      %section.block-list
        %header Item
        %ul
          %li
            = f.text_field :name, {:placeholder => 'Name'}
          %li
            = f.number_field :quantity, {:step => 1, :placeholder => 'Quantity', :min => 0, :value => params[:inventory_item] ? params[:inventory_item][:quantity] : nil}

      %section.block-list
        %header Total cost
        %ul
          %li
            = f.number_field :starting_value, {:step => 'any', :placeholder => 'Total cost', :min => 0, :value => params[:inventory_item] ? params[:inventory_item][:starting_value] : nil}
          %li.with-dropdown
            = f.collection_select :currency, @currencies_for_select, :iso_code, :description, {selected: @resource.currency}, {:disabled => true}

      %section.block-list
        %header Attributes
        %ul
          %li
            = f.check_box :consumable
            %label{:for => 'inventory_item_consumable'} Consumable
          %li
            = f.check_box :saleable
            %label{:for => 'inventory_item_saleable'} For sale


      %button.button.expanded.bg-blueberry Save

