- if @resource
  - case @resource.class.name
  - when 'User', 'Business'
    - path_array = [@resource, @item]
    - url = resource_items_create_index_path(@resource)
  - when 'Household'
    - path_array = [@resource, @item]
    - url = user_home_items_create_index_path(@user)
  - when 'Group'
    - path_array = [@resource, @item]
    - url = group_items_create_index_path(@resource)
- else
  - path_array = @item
  - url = items_create_index_path

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 New item

    = form_for path_array, :url => url do |f|

      = f.fields_for :owners, @item.owners.build do |ff|
        = ff.hidden_field :user_id, :value => @resource.class.name == "User" ? @resource.id : @resource.user.id
        %section.block-list
          %header Container
          %ul
            %li.with-dropdown
              = ff.grouped_collection_select :global_owner, [@resource.containers], :all, :human_name, :to_global_id, :name, {:include_blank => true, :selected => params[:container_id] ? @container.to_global_id : ''}

      %section.block-list
        %header Item
        %ul
          %li
            = f.text_field :name, {:placeholder => 'Name'}
          %li
            = f.number_field :quantity, {:step => 1, :placeholder => 'Quantity', :min => 0}

      %button.button.expanded.bg-blueberry Save
