- if @context
  - if @context.class.name == 'Group'
    - edit_item = edit_group_item_path(@context,@item)
    - add_container = group_item_containers_path(@context,@item)
    - consume_item = group_item_amend_path(@context,@item)
  - else
    - edit_item = @context.class.name == "Household" ? edit_user_home_item_path(current_user,@item) : edit_resource_item_path(@resource,@item)
    - add_container = @context.class.name == "Household" ? user_home_item_containers_path(current_user,@item) : resource_item_containers_path(@resource,@item)
    - consume_item = @context.class.name == "Household" ? user_home_item_amend_path(current_user,@item) : resource_item_amend_path(@resource,@item)

- if @context
  - case @context.class.name
  - when 'User', 'Business'
    - modify_path_array = [@context, @item]
    - modify_url = resource_item_path(@context,@item)
  - when 'Household'
    - modify_path_array = [@context, @item]
    - modify_url = user_home_item_path(@user,@item)
  - when 'Group'
    - modify_path_array = [@context, @item]
    - modify_url = group_item_path(@context,@item)
- else
  - modify_path_array = @item
  - modify_url = item_path(@item)


.grid-container.small-12.medium-10

  .grid-content.small-12
    %section.block-list
      %header Containers
      %ul
        %li.clearfix{:style => 'padding:10px;'}
          - @item.containers.each do |container|
            - if container.owner.class.name == "Group"
              - canonical_container = group_container_path(container.owner,container)
            - else
              - canonical_container = container.owner.class.name == "Household" ? user_home_container_path(current_user,container) : resource_container_path(container.owner,container)
            .float-left{:style => ''}
              %a.burnt-toast{:href => canonical_container}
                %strong= container.name

            = form_for modify_path_array, :url => modify_url, :html => {:style => 'float:left;'} do |f|
              = f.fields_for :categories, @item.categories.find_by(:category => container) do |ff|
                = ff.hidden_field :_destroy, :value => 'true'
              %button.button.tiny.strawberry-jam{:type => 'submit', :name => 'commit', :style => 'background:none;border:none;margin:0;'}
                %i.fa.fa-trash

              - unless container == @item.containers.last
                %span{:style => 'padding:0 10px 0 7px;'}
                  |
          .float-left.v-align{:style => ''}
            .align-center.text-center{:style => 'width:40px;'}
              %a.burnt-toast{:href => add_container}
                %i.fa.fa-plus-circle.fa-lg


  .grid-content.small-12
    %h3
      = @item.name
      %a.olive{:href => edit_item}
        %i.fa.fa-fw.fa-pencil

  .grid-content.small-12.medium-10.medium-offset-1
    - if @item.present?
      - currency_symbol = Money::Currency.new(@item.currency).symbol
      - currency_format = "#{currency_symbol}#,##0.00;(#{currency_symbol}#,##0.00)" # for BTC for instance - 8 decimal places
      - if @item.stock_sheets.any?
        - if @item.stock_sheets.first.created_at > 1.hour.ago
          .ct-chart.stock-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-itemId' => @item.id.to_s, 'data-interval' => "minutely", :id => "item" + @item.id.to_s}
        - elsif @item.stock_sheets.first.created_at > 1.week.ago
          .ct-chart.stock-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-itemId' => @item.id.to_s, 'data-interval' => "hourly", :id => "item" + @item.id.to_s}
        - elsif @item.stock_sheets.first.created_at > 1.month.ago
          .ct-chart.stock-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-itemId' => @item.id.to_s, 'data-interval' => "daily", :id => "item" + @item.id.to_s}
        - elsif @item.stock_sheets.first.created_at > 1.year.ago
          .ct-chart.stock-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-itemId' => @item.id.to_s, 'data-interval' => "weekly", :id => "item" + @item.id.to_s}
        - else
          .ct-chart.stock-chart.ct-major-eleventh{'data-resourceId' => @resource.id.to_s, 'data-resourceClass' => @resource.class.name, 'data-itemId' => @item.id.to_s, 'data-interval' => "monthly", :id => "item" + @item.id.to_s}
      - else
        .text-center{:style => "padding-top:2.2em;height:5.6em;"}
          %em.silver No records.

  .grid-content.small-10.small-offset-1.medium-8.medium-offset-2.large-6.large-offset-3
    .card{:style => 'margin-top:16px;'}
      .card-section{:style => 'padding:6px 16px;'}
        %h3.text-center
          Quantity:
          %strong= @item.quantity
        %p.text-center
          = humanized_money_with_symbol "#{@item.currency} #{@item.value}".to_money, :no_cents_if_whole => false
          %br
          %small= (humanized_money_with_symbol "#{@item.currency} #{@item.unit_value}".to_money) + " per unit"
        = form_for [@context,@item], :url => consume_item do |f|
          - if @item.consumable || @item.saleable
            %span.inline-label
              = f.number_field :consumption, {:step => 1, :placeholder => @item.saleable ? (@item.consumable ? 'Remove / Sell / Purchase' : 'Buy / Sell') : 'Remove', :min => 0}
              - if @item.consumable
                - if false
                  %a.button.bg-green{:href => '#'}
                    %i.fa.fa-fw.fa-plus
                %button.button.bg-burnt-toast{:type => 'submit', :name => 'commit', :value => 'consume'}
                  %i.fa.fa-fw.fa-minus
              - elsif @item.saleable
                %button.button.bg-green{:type => 'submit', :name => 'commit', :value => 'purchase'}
                  Buy
                %button.button.bg-strawberry-jam{:type => 'submit', :name => 'commit', :value => 'sell'}
                  Sell
            - if @item.consumable && @item.saleable
              %ul.button-group.expand
                %li
                  %button.button.bg-green{:type => 'submit', :name => 'commit', :value => 'purchase'} Purchase
                %li
                  %button.button.bg-strawberry-jam{:type => 'submit', :name => 'commit', :value => 'sell'} Sell
          - if !@item.saleable
            %button.button.expand.bg-green{:type => 'submit', :name => 'commit', :value => 'purchase'} New purchase

  .grid-content.small-12
    %h4.clearfix
      History
    - if @stock_sheets.any?
      %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/inventory/stock_sheets/stock_sheet', collection: @stock_sheets
    - else
      %p 
        %em.silver No records

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @stock_sheets

