.grid-content.small-12.medium-6.large-4
  - if ledger.project
    - if ledger.context && ledger.context.class.name == "Household"
      - canonical_link = ledger.starting_value > 0 ? user_home_project_receivable_path(current_user,ledger.project,ledger) : user_home_project_debt_path(current_user,ledger.project,ledger)
    - else
      - case ledger.owners.first.owner.class.name
      - when "User", "Business"
        - canonical_link = ledger.starting_value > 0 ? resource_project_receivable_path(ledger.owners.first.owner,ledger.project,ledger) : resource_project_debt_path(ledger.owners.first.owner,ledger.project,ledger)
      - when "Group"
        - canonical_link = ledger.starting_value > 0 ? group_project_receivable_path(ledger.owners.first.owner,ledger.project,ledger) : group_project_debt_path(ledger.owners.first.owner,ledger.project,ledger)
  - else
    - if ledger.context && ledger.context.class.name == "Household"
      - canonical_link = ledger.starting_value > 0 ? user_home_receivable_path(current_user,ledger) : user_home_debt_path(current_user,ledger)
    - else
      - case ledger.owners.first.owner.class.name
      - when "User", "Business"
        - canonical_link = ledger.starting_value > 0 ? resource_receivable_path(ledger.owners.first.owner,ledger) : resource_debt_path(ledger.owners.first.owner,ledger)
      - when "Group"
        - canonical_link = ledger.starting_value > 0 ? group_receivable_path(ledger.owners.first.owner,ledger) : group_debt_path(ledger.owners.first.owner,ledger)

  %a{:href => canonical_link}
    .card{:style => 'height:250px;'}
      .card-section{:class => ledger.starting_value > 0 ? 'bg-green' : 'bg-red'}
        %h4.ice-cream.clearfix{:style => 'margin-top:0;margin-bottom:0;'}
          %span.float-left{:style => 'width:80%;overflow:hidden;'}= truncate(ledger.name, length: 12)
          %span.float-right
            %i.fa.fa-bar-chart
      .card-divider.bg-ice-cream.burnt-toast
        - if ledger.context && ledger.context.class.name == "Household"
          %i.fa.fa-home
          = truncate(ledger.context.name, length: 15)
        - else
          - case ledger.owners.first.owner.class.name
          - when "User"
            %i.fa.fa-user
          - when "Business"
            %i.fa.fa-briefcase
          - when "Group"
            %i.fa.fa-users
          = truncate(ledger.owners.first.owner.name, length: 15)
      .card-section
        - if !ledger.description.blank?
          = truncate(ledger.description, length: 75)
        - else
          %em No description.
        %h2.text-center= humanized_money_with_symbol "#{ledger.currency} #{ledger.value}".to_money