.grid-container.small-12.medium-10
  .grid-content.small-12
    %h3 Welcome back, #{current_user.first_name}

  .grid-content.small-12
    - range = []

    - start_date = @abstracts.first.created_at.to_date
    - end_date = @abstracts.last.created_at.to_date

    - (start_date.downto(end_date)).each do |date|
      - range << date

    - range.each do |day|
      %h4.clearfix
        %span.pull-left= day.strftime("%A")
        %span.silver.pull-right= day.strftime("%-d %b")
      - if !([day] & @abstracts.group_by(&:day).keys).empty?
        - @abstracts.group_by(&:day).slice(day).each do |day, abstracts|
          %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/abstracts/abstract', collection: abstracts
      - else
        %p 
          %em.silver No records

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @abstracts
