.grid-container.small-12.medium-10
  .grid-content.small-12
    %h3 Welcome back, #{current_user.first_name}

  - if !current_user.confirmed?
    .grid-content.small-12
      .grid-content.small-12{}
        .card{:style => ''}
          .card-divider.bg-ice-cream.burnt-toast.text-center
            Your email address is unconfirmed. Please confirm it via the link in the email we've sent you.
          .card-section.text-center
            %a.button.bg-blueberry{:href => user_confirmation_path(user: {:email => current_user.email}), 'data-method' => 'post'} Resend confirmation instructions



  - @unconfirmed_memberships = current_user.memberships.where(:confirmed => false)
  - if @unconfirmed_memberships.any?
    .grid-content.small-12
      - @unconfirmed_memberships.each do |confirmation|
        .grid-content.small-12{}
          - case confirmation.collective.class.name
          - when "Business"
            - canonical_link = vanity_path(confirmation.collective)
            - accept_link = accept_resource_membership_path(confirmation.collective,confirmation.member)
            - reject_link = reject_resource_membership_path(confirmation.collective,confirmation.member)
          - when "Household"
            - canonical_link = user_home_path(current_user)
            - accept_link = accept_user_home_membership_path(current_user,confirmation.member)
            - reject_link = reject_user_home_membership_path(current_user,confirmation.member)
          .card{:style => ''}
            .card-divider.bg-ice-cream.burnt-toast.text-center
              You have been invited to join the
              %a{:href => canonical_link}
                %strong= confirmation.collective.name
              = confirmation.collective.class.name
            .card-section.text-center
              = form_for [confirmation.collective,confirmation], url: accept_link, :html => {:style => 'display:inline;'} do
                %button.button.bg-green Accept
              = form_for [confirmation.collective,confirmation], url: reject_link, :html => {:style => 'display:inline;'} do
                %button.button.bg-red Decline

  - @unconfirmed_ownerships = current_user.ownerships.where(:confirmed => false)
  - if @unconfirmed_ownerships.any?
    .grid-content.small-12
      - @unconfirmed_ownerships.each do |confirmation|
        .grid-content.small-12{}
          - case confirmation.item.class.name
          - when "Business"
            - canonical_link = vanity_path(confirmation.item)
            - accept_link = accept_business_ownership_path(confirmation.item,confirmation.owner)
            - reject_link = reject_business_ownership_path(confirmation.item,confirmation.owner)
          .card{:style => ''}
            .card-divider.bg-ice-cream.burnt-toast.text-center
              #{confirmation.user.name} assigned you #{number_with_precision(confirmation.equity, strip_insignificant_zeros: true)}% of
              %a{:href => canonical_link}
                %strong= confirmation.item.name
            .card-section.text-center
              = form_for [confirmation.item,confirmation], url: accept_link, :html => {:style => 'display:inline;'} do
                %button.button.bg-green Accept
              = form_for [confirmation.item,confirmation], url: reject_link, :html => {:style => 'display:inline;'} do
                %button.button.bg-red Decline


  - if @abstracts.any?
    .grid-content.small-12
      - range = []

      - start_date = @abstracts.first.created_at.to_date
      - end_date = @abstracts.last.created_at.to_date

      - (start_date.downto(end_date)).each do |date|
        - range << date

      - range.each do |day|
        %h4.clearfix
          %span.pull-left= day.strftime("%A")
          %span.silver.pull-right= day.strftime("%-d %b")
        - if !([day] & @abstracts.group_by(&:day).keys).empty?
          - @abstracts.group_by(&:day).slice(day).each do |day, abstracts|
            %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/abstracts/abstract', collection: abstracts
        - else
          %p 
            %em.silver No records

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @abstracts
