%meta{:charset => "utf-8"}

%title Marmalade
%meta{:name => 'description', :content => "TODO: Description"}
%meta{:property => 'og:title', :content => 'Marmalade'}
/%meta{:property => 'og:description', :content => 'Writer, coder, faster, stronger.'}
%meta{:property => 'og:type', :content => 'website'}
%meta{:property => 'og:url', :content => 'TODO: URL'}
/%meta{:property => 'og:image', :content => User.first.avatar.url}

= include_gon
= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag "app", "data-turbolinks-track" => true

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
= csrf_meta_tags
= render 'layouts/shared/shim'