%meta{:charset => "utf-8"}

%title Marmalade
%meta{:name => 'description', :content => "TODO: Description"}
%meta{:property => 'og:title', :content => 'Marmalade'}
/%meta{:property => 'og:description', :content => 'Writer, coder, faster, stronger.'}
%meta{:property => 'og:type', :content => 'website'}
%meta{:property => 'og:url', :content => 'TODO: URL'}
/%meta{:property => 'og:image', :content => User.first.avatar.url}

= Gon::Base.render_data
= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"
= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js"
= javascript_include_tag "app", "data-turbolinks-track" => true

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
= csrf_meta_tags
= render 'layouts/shared/shim'