.grid-block.vertical
  - if current_user.subscribed?
    .grid-block.shrink
      .grid-content.collapse.medium-12.text-center{:style => ''}
        %div{:style => ''}
          - if false
            %ul.menu-bar{:style => 'background:#f9f9f9 !important;'}
              %li{}
                %a{:href => '#'}
                  %i.fa.fa-envelope
              %li{}
                %a{:href => '#'}
                  %i.fa.fa-globe
          %ul.menu-bar.vertical.icon-top{:style => 'background:#f9f9f9 !important;'}
            %li{}
              - if @context
                - case @context.class.name
                - when 'Household'
                  %a{:href => user_home_path(@user)}
                    %i.fa.fa-fw.fa-4x.fa-home
                    %strong= @context.name
                - when 'Business'
                  %a{:href => vanity_path(@context)}
                    %i.fa.fa-fw.fa-4x.fa-briefcase
                    %strong= @context.name
                - else
                  %a{:href => vanity_path(current_user)}
                    %img.medium-12{:src => avatar_url(current_user), :style => 'border-radius:50%;'}
                    %strong= current_user.full_name
              - else
                %a{:href => vanity_path(current_user)}
                  %img.medium-12{:src => avatar_url(current_user), :style => 'border-radius:50%;'}
                  %strong= current_user.full_name
    .grid-block
      .grid-content.collapse.medium-12.text-center{:style => ''}
        %ul.menu-bar{:style => 'background:#f9f9f9 !important;'}
          %li{}
            %a{:href => vanity_path(current_user)}
              %i.fa.fa-user
          %li{}
            - if current_user.home
              %a{:href => user_home_path(current_user)}
                %i.fa.fa-home
            - else
              %a{:href => user_home_new_path(current_user)}
                %i.fa.fa-home
        - if current_user.businesses.any?
          %ul.menu-bar.vertical{:style => 'background:#f9f9f9 !important;'}
            %li.title Businesses
            - current_user.businesses.each do |business|
              %li{}
                %a{:href => vanity_path(business)}
                  = business.name
    .grid-block.shrink
      .grid-content.collapse
        %ul.menu-bar.icon-top{:style => 'background:#f9f9f9 !important;'}
          %li{}
            %a{:href => new_business_path}
              %i.fa.fa-fw.fa-briefcase
              New business
  - else
    .grid-content.collapse.medium-12.text-center{:style => ''}
      Please choose a plan and complete your subscription.
