.grid-container.small-12.medium-10
  = render 'app/projects/header'

  - if @context
    - case @context.class.name
    - when 'Business', 'User'
      - receivables = resource_project_receivables_path(@context,@project)
      - debts = resource_project_debts_path(@context,@project)
      - new_receipt = new_resource_project_receipt_path(@context,@project)
      - new_expense = new_resource_project_expense_path(@context,@project)
    - when 'Household'
      - receivables = user_home_project_receivables_path(@user,@project)
      - debts = user_home_project_debts_path(@user,@project)
      - new_receipt = new_user_home_project_receipt_path(@user,@project)
      - new_expense = new_user_home_project_expense_path(@user,@project)
    - when 'Group'
      - receivables = group_project_receivables_path(@context,@project)
      - debts = group_project_debts_path(@context,@project)
      - new_receipt = new_group_project_receipt_path(@context,@project)
      - new_expense = new_group_project_expense_path(@context,@project)

  .grid-block.wrap.small-12
    - if @context.present?
      .grid-content.small-6.text-center
        %a{:href => receivables}
          .card
            .card-section.bg-ice-cream
              %strong.burnt-toast Outstanding Receivables
            .card-section.bg-ice-cream
              %h3.green
                %strong= humanized_money_with_symbol "#{@context.currency} #{@project.ledgers.where('starting_value > ?', 0).sum(:value)}".to_money, :no_cents_if_whole => false
      .grid-content.small-6.text-center
        %a{:href => debts}
          .card
            .card-section.bg-ice-cream
              %strong.burnt-toast Outstanding Debts
            .card-section.bg-ice-cream
              %h3.strawberry-jam
                %strong= humanized_money_with_symbol "#{@context.currency} #{@project.ledgers.where('starting_value < ?', 0).sum(:value).abs}".to_money, :no_cents_if_whole => false

  - if !@project.wallets.any?
    - if @context_wallets
      .grid-content.small-12
        %h4 Add a wallet to track spending
        - case @context.class.name
        - when 'User', 'Business'
          - url = resource_project_wallets_path(@resource,@project)
        - when 'Household'
          - url = user_home_project_wallets_path(@user,@project)
        - when 'Group'
          - url = group_project_wallets_path(@group,@project)
        = form_for [@context,@project,@project_wallet], url: url do |f|
          %section.block-list
            %header Project wallets
            %ul
              %li.with-dropdown
                = f.collection_select :finances_wallet_id, @context_wallets, :id, :name, {:prompt => true}
          %button.button.expanded.bg-blueberry Save
  - else
    .grid-content.small-12
      %h4 Project wallets
      = render partial: 'app/finances/wallets/wallet', collection: @project.wallets
    .grid-content.small-12.text-center
      - if @context
        %a.button.bg-green{:href => new_receipt} New receipt
        %a.button.bg-red{:href => new_expense} New expense

    .grid-content.small-12
      %table{:style => 'width:100%;'}
        %thead.text-left{:style => 'border-bottom:2px solid black;'}
          %th Description
          %th
          %th IN
          %th OUT
          %th Time
          %th Balance
        %tbody.text-left
          = render partial: 'app/finances/payments/payment', collection: @payments

