- if @user == current_user
  %script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
  .grid-container.small-12.medium-10
    .grid-content
      = render 'edit_menu'
      %h3 Edit billing
      = form_for @user, :url => user_payment_path do |f|
        %section.block-list
          %header Current payment method
          %ul
            %li
              .static-field{:style => 'height:2.6rem;padding:0.6rem 1rem 0.6rem 1rem;'}= @card.card_type
            %li
              .static-field{:style => 'height:2.6rem;padding:0.6rem 1rem 0.6rem 1rem;'}= '#### #### #### ' + @card.last_4
        %section.block-list
          %header New payment method
          %ul
            %li
              #card-number{:style => 'height:2.6rem;padding:0.6rem 1rem 0.6rem 1rem;'}
            %li
              #cvv{:style => 'height:2.6rem;padding:0.6rem 1rem 0.6rem 1rem;'}
            %li
              #expiration-date{:style => 'height:2.6rem;padding:0.6rem 1rem 0.6rem 1rem;'}

        %button.button.bg-blueberry Update

        %p
          %strong Note:
          Adding a new payment method will replace your current payment method. Marmalade currently only stores one payment method per customer.


  :javascript
    braintree.setup(gon.client_token, "custom", {
      id: #{"edit_user_" + @user.id.to_s},
      hostedFields: {
        styles: {
          // Style all elements
          "input": {
            "font-size": "1rem",
            "font-weight": "300",
            "font-family": "'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif"
          },
          // Styling element state
          ":focus": {
            "color": "black"
          },
          ".valid": {
            "color": "#3D9970"
          },
          ".invalid": {
            "color": "#ef5322"
          }
        },
        number: {
          selector: "#card-number",
          placeholder: "Card number"
        },
        cvv: {
          selector: "#cvv",
          placeholder: "CVV"
        },
        expirationDate: {
          selector: "#expiration-date",
          placeholder: "Expiration date"
        }
      }
    });