- if @user == current_user
  .grid-container.small-12.medium-10

    .grid-content.small-12
      = render 'edit_menu'
      %h3 Edit password
      = form_for @user, :url => user_update_pass_path do |f|
        %section.block-list
          %header Old password
          %ul
            %li
              = f.password_field :current_password, {:placeholder => 'Current password'}
        %section.block-list
          %header New password
          %ul
            %li
              = f.password_field :password, {:placeholder => 'Password'}
            %li
              = f.password_field :password_confirmation, {:placeholder => 'Password confirmation'}

        %button.button.expanded.bg-blueberry Update password
