- if @user == current_user
  .grid-container.small-12.medium-10

    .grid-content.small-12
      = render 'edit_menu'
      %h3 Edit profile
      = form_for @user do |f|
        %section.block-list
          %header About you
          %ul
            %li
              = f.text_field :first_name, {:placeholder => 'First name'}
            %li
              = f.text_field :last_name, {:placeholder => 'Last name'}
            %li
              = f.text_area :bio, {:placeholder => 'Bio'}

        %button.button.expanded.bg-blueberry Update profile
