.grid-container.small-12.medium-9
  .grid-content
    - if @user.braintree_subscription_id
      %h2 Edit subscription
      = form_for @user, :url => user_update_subscription_path do |f|
        %section.block-list
          %header Subscription
          %ul
            %li.with-dropdown
              = f.collection_select :plan_id, @plans, :id, :blurb

        #braintree-dropin
        %button.button.expanded.bg-blueberry Update subscription
    - else
      %h2 Subscription
      = form_for @user, :url => user_subscribe_path do |f|
        %section.block-list
          %header About you
          %ul
            %li
              = f.text_field :first_name, {:placeholder => 'First name'}
            %li
              = f.text_field :last_name, {:placeholder => 'Last name'}
        %section.block-list
          %header Subscription
          %ul
            %li.with-dropdown
              = f.collection_select :plan_id, @plans, :id, :blurb

        #braintree-dropin
        %button.button.expanded.bg-blueberry Subscribe
