- if @context
  - if @context.class.name == 'Group'
    - edit_wallet = edit_group_wallet_path(@context,@wallet)
    - new_receipt = new_group_wallet_receipt_path(@context,@wallet)
    - new_expense = new_group_wallet_expense_path(@context,@wallet)
  - else
    - edit_wallet = @context.class.name == "Household" ? edit_user_home_wallet_path(current_user,@wallet) : edit_resource_wallet_path(@resource,@wallet)
    - new_receipt = @context.class.name == "Household" ? new_user_home_wallet_receipt_path(current_user,@wallet) : new_resource_wallet_receipt_path(@resource,@wallet)
    - new_expense = @context.class.name == "Household" ? new_user_home_wallet_expense_path(current_user,@wallet) : new_resource_wallet_expense_path(@resource,@wallet)


.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3
      = @wallet.name
      %a.olive{:href => edit_wallet}
        %i.fa.fa-fw.fa-pencil

  .grid-content.small-12.medium-10.medium-offset-1
    - if @wallet.present?
      - currency_symbol = Money::Currency.new(@wallet.currency).symbol
      - currency_format = "#{currency_symbol}#,##0.00;(#{currency_symbol}#,##0.00)" # for BTC for instance - 8 decimal places
      - if @payments.any?
        - if @payments.last.created_at > 1.hour.ago
          .ct-chart.wallet-chart.ct-major-eleventh{'data-walletId' => @wallet.id.to_s, 'data-interval' => "minutely", :id => "wallet" + @wallet.id.to_s}
        - elsif @payments.last.created_at > 1.week.ago
          .ct-chart.wallet-chart.ct-major-eleventh{'data-walletId' => @wallet.id.to_s, 'data-interval' => "hourly", :id => "wallet" + @wallet.id.to_s}
        - elsif @payments.last.created_at > 1.month.ago
          .ct-chart.wallet-chart.ct-major-eleventh{'data-walletId' => @wallet.id.to_s, 'data-interval' => "daily", :id => "wallet" + @wallet.id.to_s}
        - elsif @payments.last.created_at > 1.year.ago
          .ct-chart.wallet-chart.ct-major-eleventh{'data-walletId' => @wallet.id.to_s, 'data-interval' => "weekly", :id => "wallet" + @wallet.id.to_s}
        - else
          .ct-chart.wallet-chart.ct-major-eleventh{'data-walletId' => @wallet.id.to_s, 'data-interval' => "monthly", :id => "wallet" + @wallet.id.to_s}
      - else
        .text-center{:style => "padding-top:2.2em;height:5.6em;"}
          %em.silver No records.

  .grid-block.wrap.small-12
    - if @wallet.present?
      .grid-content.small-12.text-center Balance
      .grid-content.small-12.text-center
        %h3
          %strong= humanized_money_with_symbol "#{@wallet.currency} #{@wallet.balance}".to_money, :no_cents_if_whole => false

  .grid-content.small-12.text-center
    - if @context
      %a.button.bg-green{:href => new_receipt} New receipt
      %a.button.bg-red{:href => new_expense} New expense

  .grid-content.small-12
    %table{:style => 'width:100%;'}
      %thead.text-left{:style => 'border-bottom:2px solid black;'}
        %th Description
        %th
        %th IN
        %th OUT
        %th Time
        %th Balance
      %tbody.text-left
        = render partial: 'app/finances/payments/payment', collection: @payments

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @payments
